* {
  padding: 0;
  margin: 0;
}
.container{
  background-image: linear-gradient(green, white);
  padding: 10px;
}
.top {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
p,
label {
  font-size: 25px;
  margin: 100px, 20px, 20px, 20px;
}
.logOut {
  border-radius: 20px;
  height: 20px;
  border-color: yellow;
  background-color: green;
  color: yellow;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid yellow;
  width: 80px;
  text-align: center;
  margin-top: 5px;
  padding: 4px;
}
h1 {
  margin: 0px;
  font-family: "Courgette", cursive;
  text-shadow: -1px 1px 0 white;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.purchased {
  display: flex;
  flex-direction: column;
}
.spentItem {
  display: inline-block;
}

select {
  margin-bottom: 20px;
}
.displayTotal {
  margin: 0px;
  font-size: 40px;
  color: yellow;
}

#weeklyLabel {
  margin: 15px;
  padding: 10px;
  font-family: "Epilogue", sans-serif;
  font-size: 25px;
}
.purchaseAmount {
  margin-bottom: 10px;
}
.purchasedTitle,
.label,
.totalAmt {
  font-family: "Epilogue", sans-serif;
  font-size: 25px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  font-weight: 548;
}
.purchaseAmount,
#stuff {
  width: 80px;
  text-align: center;
}
.budgetAmount,
select,
.purchaseAmount,
button,
#stuff {
  background-color: white;
  border-radius: 7px;
  padding: 6px;
  outline: none;
  border: 1px solid rgb(41, 36, 36);
}

button {
  padding: 5px 20px;
}

.updateValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
h4 {
  font-size: 20px;
  border-bottom: 2px solid black;
}
#totals,
.s {
  margin: 19px;
  border: 8px double black;
  text-align: center;
  width: 380px;
  border-radius: 10px;
}
#spendLabel,
#indiv{
  font-size: 40px;
  text-align: center;
  margin: 15px;
  padding: 10px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#chart {
  width: 100px;
}
.category {
  width: 100%;
}
.design {
  padding: 10px;
  display: inline-block;
}
.reset {
  background-color: green;
  color: yellow;
  margin: 0 10px;
  border: 2px solid yellow;
  border-radius: 20px;
}

@media only screen and (min-width: 768px) {
  .inputContainer {
    justify-content: space-around;
    flex-direction: row;
  }
  .center {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  .updateValue {
    justify-content: space-around;
    flex-direction: row;
    margin: 10px;
  }
  #totals{
    width: 380px;
    height: 250px;
  }
  h1 {
    font-size: 50px;
  }
}
